<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

button {
  background-color: #356a79;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
        </style>

</head>
<body>

    
<button onclick="document.getElementById('B').style.display='block'">Gummies</button>

<button onclick="document.getElementById('Y').style.display='block'">Chocolate</button>

<button onclick="document.getElementById('G').style.display='block'">Hard candies</button>









<div id="B" class="modal">
  <span onclick="document.getElementById('B').style.display='none'" >
    <div class="container">
    <img src="/static/g1.jpg"  width="200" height="200">
    <img src="/static/g2.jpeg"  width="200" height="200">
    <img src="/static/g3.jpeg"  width="200" height="200">
    <img src="/static/g4.jpeg"  width="200" height="200">
    <img src="/static/g5.jpeg"  width="200" height="200">
    <img src="/static/g6.jpg"  width="200" height="200">
    <img src="/static/g7.jpeg"  width="200" height="200">
    <img src="/static/g8.jpeg"  width="200" height="200">


      </div>
</div>


</body>
</html>