<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

button {
  background-color: #356a79;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
        </style>

</head>
<body>

    
<button onclick="document.getElementById('B').style.display='block'">Gummies</button>

<button onclick="document.getElementById('Y').style.display='block'">Chocolate</button>

<button onclick="document.getElementById('G').style.display='block'">Hard candies</button>







<div id="B" class="modal">
  <span onclick="document.getElementById('B').style.display='none'" >




    <div class="container"><div class="card">
    <img src="/static/g1.jpg"  width="200" height="200">
  <h1>smart sweets gummy bears</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div></div>


<div class="container"><div class="card">
    <img src="/static/g2.jpeg"  width="200" height="200">
  <h1>smart sweets watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/g3.jpeg"  width="200" height="200">
  <h1>haribo gummy bears</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/g4.jpeg"  width="200" height="200">
  <h1>hamburger gummy</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>


<div class="container"><div class="card">
    <img src="/static/g5.jpeg"  width="200" height="200">
  <h1>huge watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div></div>

<div class="container"><div class="card">
    <img src="/static/g6.jpg"  width="200" height="200">
  <h1>fruitloops gummies</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/g7.jpeg"  width="200" height="200">
  <h1>airheads gummies</h1>
  <p class="price">$4.99/bag</p>
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/g8.jpeg"  width="200" height="200">
  <h1>lifesavers gummies</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/g9.jpg"  width="200" height="200">
  <h1>VIDAL gummy worms</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div>


      </div>
</div>





<div id="Y" class="modal">
  <span onclick="document.getElementById('Y').style.display='none'" >
    <div class="container">



   
    <div class="container"><div class="card">
    <img src="/static/s1.jpg"  width="200" height="200">
  <h1>smart sweets gummy bears</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/s2.jpg"  width="200" height="200">
  <h1>smart sweets watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/s3.jpeg"  width="200" height="200">
  <h1>haribo gummy bears</h1>
  <p class="price">$4.99/bag</p>

  <p><button>Add to Cart</button></p>
</div></div>


<div class="container"><div class="card">
    <img src="/static/s4.jpg"  width="200" height="200">
  <h1>hamburger gummy</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/s5.jpg"  width="200" height="200">
  <h1>huge watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>

<div class="container"><div class="card">
    <img src="/static/s6.jpeg"  width="200" height="200">
  <h1>fruitloops gummies</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/s7.jpg"  width="200" height="200">
  <h1>airheads gummies</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/s8.jpeg"  width="200" height="200">
  <h1>lifesavers gummies</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>



<div class="container"><div class="card">
    <img src="/static/s9.jpg"  width="200" height="200">
  <h1>VIDAL gummy worms</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div>


      </div>
</div>







<div id="G" class="modal">
  <span onclick="document.getElementById('G').style.display='none'" >
    <div class="container">



   
    <div class="container"><div class="card">
    <img src="/static/y1.jpg"  width="200" height="200">
  <h1>smart sweets gummy bears</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/y2.jpeg"  width="200" height="200">
  <h1>smart sweets watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/y3.jpeg"  width="200" height="200">
  <h1>haribo gummy bears</h1>
  <p class="price">$4.99/bag</p>

  <p><button>Add to Cart</button></p>
</div></div>


<div class="container"><div class="card">
    <img src="/static/y4.jpeg"  width="200" height="200">
  <h1>hamburger gummy</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>


<div class="container"><div class="card">
    <img src="/static/5.jpeg"  width="200" height="200">
  <h1>huge watermelon gummy</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>

<div class="container"><div class="card">
    <img src="/static/6.jpeg"  width="200" height="200">
  <h1>fruitloops gummies</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/7.jpeg"  width="200" height="200">
  <h1>airheads gummies</h1>
  <p class="price">$4.99/bag</p>
  
  <p><button>Add to Cart</button></p>
</div></div>



<div class="container"><div class="card">
    <img src="/static/y8.jpeg"  width="200" height="200">
  <h1>lifesavers gummies</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div> </div>



<div class="container"><div class="card">
    <img src="/static/y9.jpg"  width="200" height="200">
  <h1>VIDAL gummy worms</h1>
  <p class="price">$4.99/bag</p>
 
  <p><button>Add to Cart</button></p>
</div>


      </div>
</div>






</body>
</html>